.AppContainer {
  height: 300px;
  width: 65%;
  min-width: 500px;
  margin: 20px auto;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
}

h6 {
  padding-left: 20px;
}

.fontsContainer {
  border: 2px solid rgb(179, 189, 218);
  border-radius: 4px;
}
