.AppContainer {
  height: 300px;
  width: 65%;
  min-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
}

h6 {
  padding-left: 20px;
  color: red;
}

h6:hover {
  cursor: pointer;
  color: rgb(179, 189, 218);
}

.fontsContainer {
  border: 2px solid rgb(179, 189, 218);
  border-radius: 4px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
